---

---

<nav class="flex flex-row justify-between items-center p-4 font-jetbrains-mono text-[#FF9494]">
  <div class="text-lg font-bold">Rana Adeel Tahir</div>
  <ul class="flex flex-row space-x-4 ">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
