:root {
  /* Colors */
  --1st: #40a2e3;
  --2nd: #0d9276;
  --3rd: #bbe2ec;
  --4th: #fff6e9;

  /* Fonts */
  --font1: "Roboto", sans-serif;
  --font2: "Roboto Mono", monospace;
}

body {
  animation: pulse 2s ease-in 0s forwards;
  margin: 2% 5%;
  padding: 2% 5%;
}

/* Text styles */

h1 {
  font-family: var(--font1);
  font-size: 4rem;
}

h2 {
  font-family: var(--font2);
}

h3 {
  font-family: var(--font1);
}

p {
  font-family: var(--font2);
}

a {
  color: var(--2nd);
}

/* Introduction */

.typed {
  margin-right: 10px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.5em solid var(--2nd); /* The typwriter cursor */
  white-space: nowrap;
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(20, end), blink-caret 0.75s step-end infinite;
  animation-delay: 1.3s;
}

.container {
  width: max-content;
}

/* Projects */

#projects-section {
  height: 100vh;
  display: inline;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-title {
  display: flex;
  flex-wrap: wrap;
  text-indent: 10px;
  align-items: center;
}

.project {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  height: 250px;
  width: 450px;
  height: max-content;
  width: max-content;
  text-align: left;
  background-color: var(--4th);
  border: 1px solid var(--2nd);
}

.project img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.project:hover {
  box-shadow: 0 0 10px var(--2nd);
}

/* Animations */

@keyframes pulse {
  0% {
    background-color: var(--2nd);
    color: transparent;
  }

  50% {
    color: transparent;
  }
  100% {
    background-color: var(--4th);
    color: var(--2nd);
  }
}

/* The typing effect */
@keyframes typing {
  from {
    color: transparent;
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--2nd);
  }
}
